<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimerInSeconds" value="2" />
    <add key="ChosenActionIndex" value="0" />
    <add key="ConsoleMaxSize" value="10000" />
    <add key="Applications" value="uTorrent#firefox" />
    <add key="IgnoreIPV6" value="true" />
    <add key="StartMinimized" value="false" />
    <add key="VPNInterfaceID" value="" />
    <add key="VPNInterfaceName" value="" />
    <add key="DebugMode" value="false" />
    <add key="StrictInterfaceHandling" value="false" />
  </appSettings>
</configuration>